/* --------------------------
 * 		IGAT Style Sheet
 * -------------------------- */
 
/* --- Block -- */

.igatcard {
  margin-bottom: 5px;
  display: inline-block;
  width: 100%;
  border: 1px solid rgba(0,0,0,.125);
  color: #373a3c;
  font-weight: 400;
}
.igatcard:hover {
  cursor: pointer;
}

.igateyecatcher {
  margin: 2px 20px 0 20px;
  width: 50px;
  display: block;
}

.igatleftblock {
  padding: 2px 8px;
  width: 105px;
  text-align: center;
  float: left;
  border-right: 1px solid rgba(0,0,0,.125);
}

.igatlistinfo {
  padding: 0 10px;
  margin-left: 105px;
  display: table-cell;
  vertical-align: middle;
  height: 80px;
}

.igatlistinfo button {
	height: 25px;
  max-width: 100%;
	padding: 0 10px;	
}

.igatyellow:hover {
  background-color: #ffff6b;
}

.igatgreen:hover {
  background-color: #6ee46b;
}

.igatred:hover {
  background-color: #f26868;
}

.igatblue:hover {
  background-color: #00c2ff;
}

#notificationContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  background: white;
  width: 400px;
  height: 199px;
  border: 1px solid rgba(0,0,0,.125);
  margin-left: -200px;
  margin-top: -100px;
  text-align: center;
  z-index: 1;
  padding: 10px;
}

#notificationContainer div {
  width: 100px;
  margin-left: 139px;
  height: 119px;
  margin-bottom: 3px;
}

/* --- Dashboard --- */

/* - Progress Tab - */

.progressflex {
	display: flex;
	flex-wrap: wrap;
}

.progressquickinfo {    
	margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 30px;
}

.progressblock {
  height: 150px;
  margin-right: 20px;
	margin-bottom: 20px;
  border: 1px solid rgba(0,0,0,.125);
  padding: 10px;
	flex-grow: 1;
	overflow: auto;
}

#levelprogressblock {
	max-width: 124px;
	overflow: hidden;
}

.leveloverlay {
	position: relative;
	width: 80px;
	top: -87px;
	left: 10px;
	color: white;
	font-size: 50px;
	text-align: center;
	display: block;
}

.progressblock h6 {
	margin: 0;
}

.progressinfo {
	display: block;
	margin-bottom: 9px;
}

.badgepreview {
	float: left;
	border: 1px solid rgba(0,0,0,.125);
	padding: 3px;
	margin-right: 10px;
  background-color: white;
}

/* - Badges Tab - */

.igatbadgescontainer {
	padding: 5px;
}

.igatbadge {
	padding: 6px; 
	margin: 10px;
	width: 100%;
	min-height: 120px;
	border-bottom: 1px solid rgba(0,0,0,.125);
}

.igatbadgeowned:hover {
	background-color: lightgreen;
}

.igatbadgeavailable:hover {
	background-color: lightyellow;
}

.igatbadgelink {
	color: #373a3c;
}

.igatbadgelink:hover {
	text-decoration: none;
	color: #373a3c;
}

.igatbadge img {
	float: left;
}


.igatbadgeinfo {
	margin-left: 115px;
}

#badges a p, #badges a h3{
	color: black;
}

#badges a:hover {
	text-decoration: none;
}

#badges .collapse .box p, #badges .collapsing .box p {
	margin: 0;
}

.collapseContainer {
	margin-bottom: 0;
}

/* - Ranks Tab - */

.leaderboard {
  width: 100%;
  text-align: center;
}

.leaderboard .smallcolumn {
  width: 100px
}

.leaderboard .mediumcolumn {
  width: 200px;
}

.leaderboard tr, th, td {
  border: 1px solid rgba(0,0,0,.125);
}

.leaderboard th {
  background: #1177d1;
  color: white;
}

.leaderboard td {
  padding: 5px;
}

.leaderboard .curuser {
  background-color: #c7dff4;
  font-weight: bold;
}

/* --- Gamification Analytics --- */

/* - Slider - */

.slider-selection {
  background: red;
}

.lsSliderContainer {
	display: flex;
}

.lsSliderDimensionLeft {
	width: 75px;
	text-align: right;
	margin-right: 10px;
}

.lsSliderDimensionRight {
	width: 75px;
	text-align: left;
	margin-left: 10px;
}

.lsSlider {
	width: 290px;
}

.filtercard {
	padding: 8px !important;
	width: 530px;
}

.sliderMin {
	float: left;
  margin-right: 19px;
	width: 25px;
}

.sliderMax {
	float: right;
	margin-left: 15px;
  width: 17px;
}

/* - Charts and Graphs- */

.analyticsChart {
	height: 250px;
}

.graphContainer {
  width: 800px;
}

.edgeWeight {
	position: relative;
	width: 28.5px;
	display: inline-block;
}

#progressToBadges {
	top: 93px;
	left: 443px;
}

#progressToRanks {
	top: 83px;
	left: 226px;
}

#progressToSettings {
	top: 110px;
	left: 334px;
}

#badgesToProgress {
	top: 83px;
	left: 403px;
}

#badgesToRanks {
	top: 166px;
	left: 271px;
}

#badgesToSettings {
	top: 227px;
	left: 279px;
}

#ranksToProgress {
	top: 93px;
	left: 119px;
}

#ranksToBadges {
	top: 143px;
	left: 130px;
}

#ranksToSettings {
	top: 236px;
	left: 2px;
}

#settingsToProgress {
	top: 110px;
	left: 66px;
}

#settingsToBadges {
	top: 236px;
	left: 171px;
}

#settingsToRanks {
	top: 227px;
	left: -39px;
}

#progressToMoodle {
	top: 72px;
	left: -238px;
}

#badgesToMoodle {
	top: 206px;
	left: -211px;
}

#ranksToMoodle {
	top: 171px;
	left: -297px;
}

#settingsToMoodle {
	top: 273px;
	left: -293px;
}

#progressToExternal {
	top: 72px;
	left: 92px;
}

#badgesToExternal {
	top: 171px;
	left: 52px;
}

#ranksToExternal {
	top: 206px;
	left: -29px;
}

#settingsToExternal {
	top: 273px;
	left: -48px;
}

/* --- General --- */
[data-key="badgesview"] {
  display: none !important;
}
